<% if @user.travel_guide? %>
  <ul>
    <li>
      <h2>location: <%= @user.location %></h2>
    </li>
    <li>
      <h2>Age: <%= @user.age %></h2>
    </li>
    <li>
      <h2>gender: <%= @user.gender %>
    </li>
    <li>
      <h2>Languages i can speak:</h2>
      <% if @user.languages.present? %>
        <% @user.languages.each do |language| %>
          <h4><%= language.name %></h4>
        <% end %>
      <% end %>
    </li>
    <li>
      <h2>Contact me:</h2><%= @user.contact %>
    </li>
  </ul>
<% elsif @user.travel_guide.nil? %>
  <%= link_to "Become a travel guide", newg_user_path %>
<% else %>
  <h2>Off Duty</h2>
<% end %>

<% if current_user.id == @user.id && !current_user.invalid_guide? %>
  <%= simple_form_for current_user do |f| %>
    <%= f.input :travel_guide, label: "Available" %>
    <%= f.submit %>
  <% end %>
<% end %>
