<div class="travel-guide-info-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-3 col-md-6">
        <% if @user.travel_guide? %>
          <ul>
            <li>
              <h4>Location</h4>
              <h5><%= @user.location %></h5>
            </li>
            <hr>

            <li>
              <h4>Age</h4>
              <h5><%= @user.age %></h5>
            </li>
            <hr>

            <li>
              <h4>Gender</h4>
              <h5><%= @user.gender %></h5>
            </li>
            <hr>

            <li>
              <h4>Languages</h4>
              <% if @user.languages.present? %>
                <% @user.languages.each do |language| %>
                  <h5><%= language.name %></h5>
                <% end %>
              <% end %>
            </li>
            <hr>

            <li>
              <h4>Contact me</h4>
              <h5><%= @user.contact %></h5>
            </li>
          </ul>
            <% elsif @user.travel_guide.nil? %>
              <%= link_to "Become a travel guide", newg_user_path %>
            <% else %>

              <div class="off-duty">
                <h3 class="text-center">Off Duty !</h3>
              </div>
            <% end %>

        <hr>
        <% if current_user.id == @user.id && !current_user.invalid_guide? %>
          <%= simple_form_for current_user do |f| %>
            <%= f.input :travel_guide, label: "Available", class: "form-control" %>
            <%= f.submit "submit", class: "clean-look-btn-white submit-guide-info"%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

