<% content_for(:title) do %>
  Profile | Missing Out
<% end %>

<%# if @user.photo? %>
  <%#= cl_image_tag @user.photo.path, width: 200, height: 300, crop: :fill %>
<%# end %>

<!-- User avatar  -->
<div class="profile-avatar">
<% if current_user.id == @user.id %>
  <% unless @user.facebook_picture_url.present? %>
    <%= cl_image_tag @user.photo.path, :transformation=>[{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"}] if @user.photo.present? %>
  <% else %>
    <%= image_tag @user.facebook_picture_url %>
  <% end %>
<% end %>
</div>
<!-- edit profile link -->
<div class="edit-profile">
  <%= link_to "Edit Profile", edit_user_registration_path %>
<!-- user first name -->
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
</div>

<!-- Follow/unfollow button -->
<% if current_user && (current_user.id != @user.id) %>
  <% unless @user.follower_ids.include?(current_user.id) %>
    <%= link_to "Follow", followings_create_path(user_id: @user.id) %>
  <% else %>
    <%= link_to "Unfollow", followings_destroy_path(user_id: @user.id) %>
  <% end %>
<% end %>


<!-- follwings/followers tabs -->
<div>
  <% if user_signed_in? %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a></li>
      <li role="presentation"><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab">Followers</a></li>
      <li role="presentation"><a href="#favourites" aria-controls="favourites" role="tab" data-toggle="tab">Favourites</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="following"><%= render 'following' %></div>
      <div role="tabpanel" class="tab-pane" id="followers"><%= render 'followers' %></div>
      <div role="tabpanel" class="tab-pane" id="favourites"><%= render 'favourites' %></div>
    </div>
  <% end %>
</div>
