<div class="navbar-missing-out">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-missing-out-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-missing-out-right hidden-xs hidden-sm">

    <!-- Search form -->
    <!-- <form action="" class="navbar-missing-out-search">
      <input type="text" class="navbar-missing-out-search-input" placeholder="Search something">
      <button type="submit" class="navbar-missing-out-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%= link_to "#", class: "navbar-missing-out-item navbar-missing-out-link" do %>
        <!-- <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div> -->
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-missing-out-item">
        <div class="dropdown">
          <% if current_user.facebook_picture_url %>
            <%= image_tag current_user.facebook_picture_url, class: " avatar-circle-small dropdown-toggle", id: "navbar-missing-out-menu", "data-toggle" => "dropdown" %>
          <% elsif current_user.photo.present? %>
            <%= cl_image_tag current_user.photo.path, :gravity=>"face", :width=>50, :height=>50, :crop=>"thumb", class: "nav-bar-avatar dropdown-toggle", id: "navbar-missing-out-menu", "data-toggle" => "dropdown"  %>
          <% else %>
            <%= image_tag "https://unsplash.it/50/50" , class: "avatar dropdown-toggle", id: "navbar-missing-out-menu", "data-toggle" => "dropdown"  %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-missing-out-dropdown-menu">
            <li>
              <%= link_to current_user do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-globe"></i>  <%= t(".profile", default: "Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to favourites_index_path do %>
                <i class="fa fa-map-marker"></i>  <%= t(".profile", default: "My favorites") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-missing-out-item navbar-missing-out-link" %>

    <% end %>

    <!-- Button (call-to-action) -->
    <%#= link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-missing-out-item navbar-missing-out-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-missing-out-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-missing-out-dropdown-menu">
        <li>
          <% if user_signed_in? %>
      <!-- Notification -->
            <%= link_to user_path(current_user), class: "navbar-missing-out-item navbar-missing-out-link" do %>
              <div class="dropdown-badge-container">
                <!-- <i class="fa fa-envelope-o"></i> -->
                <!-- <div class="badge badge-blue">3</div> -->
                <div class="photo-in-mobile-menu">
                  <% if current_user.facebook_picture_url %>
                    <%= image_tag current_user.facebook_picture_url, class: "avatar-circle-xs-small dropdown-toggle", id: "navbar-missing-out-menu", "data-toggle" => "dropdown" %>
                  <% elsif current_user.photo.present? %>
                   <%= cl_image_tag current_user.photo.path, :gravity=>"face", :width=>50, :height=>50, :crop=>"thumb", class: "avatar dropdown-toggle text-center avatar-circle-xs-small", id: "navbar-missing-out-menu", "data-toggle" => "dropdown"  %>
                  <% else %>
                    <%= image_tag "https://unsplash.it/50/50" , class: "avatar dropdown-toggle text-center", id: "navbar-missing-out-menu", "data-toggle" => "dropdown"  %>
                  <% end %>
                  <p>
                    <%= current_user.first_name %>&nbsp;<%= current_user.last_name %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to dashboard_path , class: "navbar-missing-out-item navbar-missing-out-link" do %>
            <i class="fa fa-globe"></i>&nbsp;Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to favourites_index_path, class: "navbar-missing-out-item navbar-missing-out-link" do %>
            <i class="fa fa-map-marker"></i>  <%= t(".profile", default: "My favorites") %>
          <% end %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
            <% else %>
              <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-missing-out-item navbar-missing-out-link" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

