
<% posts.each_with_index do |post, value| %>
  <%= link_to post_path(post) do %>
    <div class="col-md-4 card-show" id="card-holder-<%= value + 1  %>">
      <div class="place-card">
        <div class="card-image">
          <% if post.photos.present? %>
          <%= cl_image_tag post.photos.first.path, :transformation=>[
            {:width=>400, :height=>300, :crop=>"thumb"}], class: "post-avatar" %>
          <% else %>
            <%= image_tag "non-ava", class: "post-avatar" %>
          <% end %>
          <div class="card-info" data-id="<%= value + 1  %>">
            <div class="card-title">
              <h4><%= post.title %></h4>
              <p>Category &nbsp;:&nbsp;<%= post.category %></p>
            </div>
            <div class="card-rec">
              <% if post.reviews.where(recommended: true).count > 0 %>
                <p>has <%= pluralize(post.reviews.count, 'review') %>.</p>
                <p><%= pluralize(post.reviews.where(recommended: true).count, 'person') %> recommended this.</p>
              <% end %>

              <% if post.reviews.count.zero? %>
                <p>Be the first one to review this !</p>
              <% end %>

              <% if user_signed_in? %>
                <% if post.reviews.where(user_id: current_user.following_ids).count > 0 %>
                  <p><%= pluralize( post.reviews.where(user_id: current_user.following_ids).count , 'friend') %> have reviewed this.</p>
                <% else %>
                  <p>None of your friends have reviewed this.</p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
