<% posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <div class="list-item">
      <div class="list-img">
        <% if post.photos.present? %>
          <%= cl_image_tag post.photos.first.path, :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"thumb"}], class: "post-avatar" %>
        <% else %>
          <%= image_tag "non-ava", class: "post-avatar" %>
        <% end %>
      </div>
      <div class="list-des">
        <h4><%= post.title %></h4>
          <p>Category &nbsp;:&nbsp;<%= post.category.capitalize %></p>
          <br>
      </div>
      <div class="list-link">
          <i class="fa fa-arrow-right"></i>
      </div>
    </div>
    <div class="post-review-stat">
      <% unless post.reviews.count.zero? %>
        <%= pluralize(post.reviews.count, 'review') %> |
      <% else %>
        Be the first to review!
      <% end %>

      <% if post.reviews.where(recommended: true).count > 0 %>
        | <%= pluralize(post.reviews.where(recommended: true).count, 'person') %> recommended
      <% else %>
        | 0 recommended
      <% end %>

      <% if user_signed_in? %>
        | <%= pluralize( post.reviews.where(user_id: current_user.following_ids).count , 'friend') %> reviewed.
      <% end %>

    </div>
  <% end %>
  <hr>
<% end %>

