<% content_for(:title) do %>
  Dashboard | Missing Out
<% end %>

<div class="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="dashboard-header">
          <h2>Dashboard</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="dashboard-btn">
          <%= link_to index_path do %>
            <%= image_tag "gps.png" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="dashboard-btn">
          <%= link_to new_post_path do %>
            <%= image_tag "hiddengem-icon.png" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="dashboard-btn">
          <%= link_to favourites_index_path do %>
            <%= image_tag "savedlocation-icon.png" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="dashboard-btn">
        <%= link_to user_path(current_user) do %>
          <%= image_tag "myprofile-icon.png" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
