<div class="home-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="missing-out">
          <h1 class="blue-letters">Missing</h1>
          <h1 class="white-letters">Out</h1>
        </div>
        <div class="backpacker-content">
          <%= link_to index_path do %>
            <%= image_tag "gps.png" %>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to user_facebook_omniauth_authorize_path ,id: "home-fb-link" do %>
            <div class="facebook">
              <i class="fa fa-facebook"></i> Sign in with Facebook
            </div>
          <% end unless current_user %>
          <div id="sign-in-out">
            <%= link_to "Sign in", new_user_session_path %>
            |
            <%= link_to "Sign up", new_user_registration_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
