<% content_for(:title) do %>
  Main | Missing Out
<% end %>

<div class="search-bar"></div>

<div id="map" style="height: 200px;" ></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

      var styles = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}];

      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {


        function getLocation() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
            }
        }

        function showPosition(position) {
          markers = handler.addMarkers([{
            "infowindow": "Your Location",
            "lat": position["coords"]["latitude"],
            "lng": position["coords"]["longitude"],
            "picture": ({
              "url": "<%= image_path "blue.png" %>",
              "width":  32,
              "height": 32
            })
          }]);


          handler.bounds.extendWith(markers);

          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(15);
          }

          }

        getLocation();

        markers = handler.addMarkers(<%= raw @hash.to_json %>);

      });


    });
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do%>
          <div class="list-item">
            <div class="list-img">
              <% if post.photos.present? %>
                <%= cl_image_tag post.photos.first.path, :transformation=>[
                  {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"}], class: "post-avatar" %>
              <% else %>
                <%= image_tag "non-ava", class: "post-avatar" %>
              <% end %>
            </div>
            <div class="list-des">
              <h4><%= post.title %></h4>
                <p>Category &nbsp;:&nbsp;<%= post.category %></p>
                <p>Distance</p>
                <br>
                <% if post.reviews.where(recommended: true).count > 0 %>
                  <p>has <%= pluralize(post.reviews.count, 'review') %>.</p>
                  <p><%= pluralize(post.reviews.where(recommended: true).count, 'person') %> recommended this.</p>
                <% else %>
                  <p>Be the first one to review this !</p>
                <% end %>
                <p><%= pluralize( post.reviews.where(user_id: current_user.following_ids).count , 'friend') %> have reviewed this.</p>
            </div>
            <div class="list-link">
              <%= link_to post_path(post) do %>
                <i class="fa fa-arrow-right"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <hr>
    </div>
  </div>
</div>
