<% content_for(:title) do %>
  Main | Missing Out
<% end %>


<div id="map" class="" ></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    function initMap() {

        function getLocation() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition, showError);
            }
        }

        function showPosition(position) {
           $.get({
              url: "/index",
              data: {
                "lat": position["coords"]["latitude"],
                "lng": position["coords"]["longitude"],
                "search_j": <%= raw params[:search].to_json %>,
                "category": "<%= raw params[:category] %>"
              },
              success:function(data) {
              }
            });
        }

        function showError( error ) {
          console.log( 'getCurrentPosition returned error', error);

          $.get({
              url: "/index",
              data: {
                "not_allowed": "user didn't allow"
              },
              success:function(data) {
              }
            });
        }
        getLocation();
    }
  <% end %>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>&callback=initMap">
  </script>
<% end %>
<div class="search-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="filter-category">
          <%= render 'shared/filter' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg hidden-xl">
      <div class="posts_for_index">
        <%= render "posts_for_index", posts: @posts %>
      </div>
    </div>

    <div class="hidden-sm hidden-xs col-md-12">
      <div class="posts_for_index_desktop">
        <%= render "posts_for_index_desktop", posts: @posts %>
      </div>
    </div>

  </div>
</div>

