<div class="guide-wrapper">
  <h2>Find a tour guide</h2>
  <%= render 'search' %>
  <hr>
  <div class="container">
    <div class="row">
      <% @users.each do |guide| %>
        <div class="col-xs-12 col-sm-4">
            <div class="card travel-guide-card">
              <div class="card-description"><h3><%= "#{guide.first_name} #{guide.last_name}" %></h3></div>
              <div class="card-category">
                <h4><%= guide.location %></h4>
                <p>
                <% guide.languages.pluck(:name).each do |language| %>
                  <%= language %>
                <% end %>
                </p>
              </div>
                <% unless guide.facebook_picture_url.present? %>
                  <%= (cl_image_tag guide.photo.path,  :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :crop=>"thumb"}], class:"avatar card-user") if guide.photo.present? %>
                <% else %>
                  <%= image_tag guide.facebook_picture_url, class:"avatar card-user" %>
                <% end %>
              <a class="card-link" href="<%= user_path(guide) %>#travel_guide" ></a>
            </div>
        </div>
     <% end %>
    </div>
  </div>
</div>



