<div data-review-id="<%= review.id %>">
  <table class="review-table">
    <tr>
      <td width="20%">
        <%= link_to user_path(review.user) do %>
          <div class="review-avatar">
            <% unless review.user.facebook_picture_url.present? %>
              <%= cl_image_tag review.user.photo.path if review.user.photo.present? %>
            <% else %>
              <%= image_tag review.user.facebook_picture_url %>
            <% end %>
          </div>
        <% end %>
      </td>
      <td width="60%">
        <%= review.description %>
      </td>
      <td width="15%">
        <div class="recommended-img">
          <% if review.recommended %>
            <%= image_tag "recommended.png" %>
          <% end %>
        </div>
      </td>
      <td width="5%">
          <%= link_to edit_post_review_path(review.post, review) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end if policy(review).edit? %>
          <%= link_to post_review_path(review.post, review), method: :delete,remote: true, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end if policy(review).destroy?%>
      </td>
    </tr>
  </table>
  <hr>
</div>
