<% content_for(:title) do %>
  <%= @post.title %> | Missing Out
<% end %>
<% content_for(:after_js) do %>
  <script type="text/javascript">
  $( document ).ready(function() {
      /* Basic Gallery */
      $( '.swipebox' ).swipebox();
      });
  </script>
<% end %>
<div class="show-container">
    <div class="banner">
      <div class="slider">
        <ul id="box-container">
          <% @post.photos.each do |photo| %>
            <li class="box">
              <a href="<%= cl_image_path(photo.path) %>" class="swipebox">
                <%= cl_image_tag(photo.path, :transformation=>[
            {:width=>600, :height=>400, :gravity=>"face", :crop=>"thumb"}])%>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-xs-12 hidden-md hidden-lg hidden-xl">
        <div class="show-box">
          <div class="show-title">
            <h2><%= @post.title %></h2>

            <p><%= @post.location.address %></p>
            <div class="icons-show">
              <%= link_to edit_post_path(@post), class: "pen-update" do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end if policy(@post).update? %>
              <%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure ?"}, class: "trash-delete"  do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end if policy(@post).destroy? %>
            </div>
          </div>

          <div class="get-direction">
            <% if current_user %>
              <div class="heart-fav">
                <% unless current_user.favourites.where(post: @post).exists?  %>
                  <%= link_to favourites_add_path(post_id: @post.id), class: "empty-heart" do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <%= link_to favourites_remove_path(post_id: @post.id), class: "filled-heart" do %>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="heart-fav">
                <%= link_to new_user_session_path, class: "empty-heart" do %>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                <% end %>
              </div>
            <% end %>
            <div class="direction-btn">
              <a href="https://www.google.com/maps/preview/@<%= @post.location.latitude %>,<%= @post.location.longitude %>" class="clean-look-btn">Directions</a>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="place-review">
          <p><%= @post.description %></p>
        </div>
      </div>
    </div>
  </div>


  <div class="desktop-show  hidden-sm hidden-xs">
    <div class="desktop-show-info">
      <div class="desktop-show-title">
        <h2><%= @post.title %></h2>
        <p><%= @post.location.address %></p>
      </div>
      <div class="desktop-links">
        <%= link_to edit_post_path(@post), class: "pen-update" do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end if policy(@post).update? %>
      </div>
      <div class="desktop-links">
        <%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure ?"}, class: "trash-delete" do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end if policy(@post).destroy? %>
      </div>
      <div class="desktop-links">
        <% if current_user %>
        <div>
          <% unless current_user.favourites.where(post: @post).exists?  %>
            <%= link_to favourites_add_path(post_id: @post.id), class: "empty-heart" do %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <%= link_to favourites_remove_path(post_id: @post.id), class: "filled-heart" do %>
              <i class="fa fa-heart" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div>
          <%= link_to new_user_session_path, class: "empty-heart" do %>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
      </div>
      <div class="clear-float"></div>
      <div class="desktop-show-description">
        <%= @post.description %>
      </div>
    </div>

    <div class="desktop-show-map">
      <div id="map"></div>
      <br>
      <div class="desktop-get-direction">
        <a href="#" class="clean-look-btn">Directions</a>
      </div>
      <!-- Include Google Maps JS library. You should use your *own* key -->
      <script src="https://maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>"></script>
      <%= content_for(:after_js) do %>
          <script type="text/javascript">
            $(document).on('ready', function() {
              var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers([
                  {
                    "lat": <%= @post.location.latitude %>,
                    "lng": <%= @post.location.longitude %>,
                    "infowindow": "<h1><small><%= @post.title %></small></h1>"
                  }
                ]);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(16);
              });
            })
          </script>
      <% end %>

    </div>
    <div class="clear-float"></div>
  </div>
  <div class="desktop-show-review">
      <div class="review-headerq">
      <div class="">
        <div class="review-header">
          <div class="review-title">
            <h3>Reviews:</h3>
          </div>
          <% if user_signed_in? %>
            <div id="addReview" class="clean-look-btn">Add a review</div>
          <% else %>
            <%= link_to "Add a review", new_user_session_path, class: "clean-look-btn" %>
          <% end %>
        </div>
        <div id="reviewForm">
          <%= render 'reviews/form', post: @post, review: @review %>
        </div>
        <ul id="myReviews" class="my-reviews">
          <li>
            <div id="reviews">
              <% @post.reviews.reverse.each do |review| %>
                <%= render 'review' , review: review %>
              <% end %>
            </div>
          </li>
          <% if @post.reviews.count > 1 %>
            <div id="loadMore" class="text-center clean-look-btn">Load More</div>
          <% end %>
        </ul>

    <div class="desktop-show-location"></div>
  </div>
</div>
