<% @post.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
<%= @post.title %><br>
<%= @post.description %>
<div id="reviews">
  <% @post.reviews.each do |review| %>
    <%= render 'review' , review: review %>
  <% end %>
</div>
<%= render 'reviews/form', post: @post, review: @review %>
