<% content_for(:title) do %>
  <%= @post.title %> | Missing Out
<% end %>

<div class="show-container">
  <div class="show-photo">
    <% @post.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
    <% end %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="show-box">
          <div class="show-title">
            <h2><%= @post.title %></h2>
            <p><%= @post.location.address %></p>
          </div>
          <div class="get-direction">
            <a href="#" class="btn btn-primary">Get Directions</a>
            <%= link_to "Update", edit_post_path(@post), class: "btn btn-primary" if policy(@post).update? %>
            <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-danger" if policy(@post).destroy? %>
          </div>
        </div>
        <div class="clear"></div>
        <div class="show-info">
          <p><strong>Hours of Operation:</strong> Monday - Friday 9AM - 5PM</p>
          <p><strong>Contact:</strong>  www.sake.co.jp | +81 75-771-0246</p>
        </div>
        <div class="place-review">
          <p><%= @post.description %></p>
        </div>


        <div>
          <% unless current_user.favourites.where(post: @post).exists?  %>
          <%# if current_user.favorited?(@post) %>
            <%= link_to "favourite", favourites_add_path(post_id: @post.id) %>
          <% else %>
            <%= link_to "unfavourite", favourites_remove_path(post_id: @post.id) %>
          <% end %>
        </div>


      </div>
      <div class="col-xs-12">
        <div class="review-header">
          <div class="review-title">
            <h4>Reviews:</h4>
          </div>
          <div id="addReview" class="btn btn-primary">Add A review</div>
        </div>
        <div id="reviewForm">
          <%= render 'reviews/form', post: @post, review: @review %>
        </div>
        <ul id="myReviews" class="my-reviews">
          <li>
            <div id="reviews">
              <% @post.reviews.each do |review| %>
                <%= render 'review' , review: review %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <div id="loadMore" class="text-center">Load more</div>
    </div>
  </div>
</div>



